#header{
    /* background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://i.ibb.co/7vLFMsG/a-Copia.jpg") no-repeat; */

    height: 100vh;
    min-height: 400px;
    margin: .4rem;
    margin-bottom: 0;
    min-height: 650px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
}

h1 span {
    color: var(--second-color);
    text-shadow: 2px 3px #000000 ;
}
@media (min-width: 768px) {
    #header{
        /* background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://i.ibb.co/47Wc5LN/a.jpg") no-repeat; */
        background-attachment: fixed !important;
        background-size: cover !important;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size:cover;
        background-size: cover;
    
    
    }
}    